body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-zen-kaku-gothic-new: "Zen Kaku Gothic New";

  /* font sizes */
  --font-size-13xl: 32px;
  --font-size-lgi: 19px;
  --font-size-7xl: 26px;
  --font-size-29xl: 48px;
  --font-size-10xl: 29px;
  --font-size-19xl: 38px;
  --font-size-77xl: 96px;

  /* Colors */
  --color-white: #fff;
  --color-steelblue: #3f6e97;
  --color-lightcoral: #fe8181;
  --color-black: #000;

  /* Gaps */
  --gap-225xl: 244px;
  --gap-103xl: 122px;
  --gap-11xl: 30px;
  --gap-42xl: 61px;
  --gap-mini: 15px;

  /* Paddings */
  --padding-13xl: 32px;
  --padding-45xl: 64px;
  --padding-9xl: 28px;
  --padding-8xl: 27px;
  --padding-9xs: 4px;
  --padding-xl: 20px;
  --padding-10xl: 29px;
  --padding-34xl: 53px;

  /* Border radiuses */
  --br-15xl: 34px;
  --br-46xl: 65px;
}
